#thirdSection {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10dvh 0;
    h3 {
        font-size: 12px;
        font-weight: 600;
    }
    h2 {
        font-size: 45px;
        letter-spacing: 5px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 20px;
    }
    #thirdSectionVersiculo {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 75%;
    }
    #thirdSectionVersiculoInfo {
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
        margin-bottom: 10px;
    }
}